.Rproj.user
.Rhistory
*.RData
.Ruserdata
read_and_explore_data.R
read_and_explore_data_OLD.R
*.svg
*.Rproj
.idea
dens*
*.csv
distributions_trigeminal_measures
*.code-workspace
*OLD*
*.png
*backup*
__pycache__/
*.pyc
OLDstuff/
*tmp*
*Tmp*

